body {
  color: #333333;
  font-family: 'Merriweather','Georgia',serif;
  font-weight: 400;
  word-wrap: break-word;
}

a {
  color: #007acc;
  text-decoration: none;
  background-color: transparent;
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.75rem;
}

h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.75rem;
  color: inherit;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  font-size: 1.6rem;
  line-height: 1.1;
}

pre {
  overflow: scroll;
  background-color: #f9f9f9;
  padding: 15px;
  font-family: Consolas,"Liberation Mono",Courier,monospace;
}

blockquote {
  margin-left: 0;
  margin-right: 1.75rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 1.42188rem;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.75rem;
  font-size: 1.20112rem;
  line-height: 1.75rem;
  color: hsla(0,0%,0%,0.59);
  font-style: italic;
  border-left: 0.32813rem solid hsla(0,0%,0%,0.9);
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

.post img{
  width: 100%;
}

.post-content{
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
}

.post-content img{
  width: 100%;
}

.post-content .post-created-date {
  font-size: 0.83255rem;
  line-height: 1.75rem;
  display: block;
  margin-bottom: 1.75rem;
  margin-top: -1.5rem;
}
